<nz-drawer #drawerData [nzBodyStyle]="{ height: 'calc(100% - 55px)', overflow: 'auto', 'padding-bottom': '53px' }"
    [nzMaskClosable]="false" [nzVisible]="visible" [nzWidth]="320" nzTitle="{{ 'STORAGE.TITLE' | translate }}" (nzOnClose)="onCloseDrawerData()">
    <form nz-form [formGroup]="storageForm">

        <div nz-row nzGutter="8">
            <div nz-col nzSpan="24">
                <nz-form-item>
                    <nz-form-label>{{ 'STORAGE.AMOUNT_QUARTER_1' | translate }}</nz-form-label>
                    <nz-form-control>
                        <input nz-input type="number" formControlName="amountQuarter1" />
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>

        <div nz-row nzGutter="8">
            <div nz-col nzSpan="24">
                <nz-form-item>
                    <nz-form-label>{{ 'STORAGE.VALUE_QUARTER_1' | translate }}</nz-form-label>
                    <nz-form-control>
                        <input nz-input type="number" step="0.01" formControlName="priceQuarter1" />
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>

        <div nz-row nzGutter="8">
            <div nz-col nzSpan="24">
                <nz-form-item>
                    <nz-form-label>{{ 'STORAGE.AMOUNT_QUARTER_2' | translate }}</nz-form-label>
                    <nz-form-control>
                        <input nz-input type="number" formControlName="amountQuarter2" />
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>

        <div nz-row nzGutter="8">
            <div nz-col nzSpan="24">
                <nz-form-item>
                    <nz-form-label>{{ 'STORAGE.VALUE_QUARTER_2' | translate }}</nz-form-label>
                    <nz-form-control>
                        <input nz-input type="number" step="0.01" formControlName="priceQuarter2" />
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>

        <div nz-row nzGutter="8">
            <div nz-col nzSpan="24">
                <nz-form-item>
                    <nz-form-label>{{ 'STORAGE.AMOUNT_QUARTER_3' | translate }}</nz-form-label>
                    <nz-form-control>
                        <input nz-input type="number" formControlName="amountQuarter3" />
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>

        <div nz-row nzGutter="8">
            <div nz-col nzSpan="24">
                <nz-form-item>
                    <nz-form-label>{{ 'STORAGE.VALUE_QUARTER_3' | translate }}</nz-form-label>
                    <nz-form-control>
                        <input nz-input type="number" step="0.01" formControlName="priceQuarter3" />
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>

        <div nz-row nzGutter="8">
            <div nz-col nzSpan="24">
                <nz-form-item>
                    <nz-form-label>{{ 'STORAGE.AMOUNT_QUARTER_4' | translate }}</nz-form-label>
                    <nz-form-control>
                        <input nz-input type="number" formControlName="amountQuarter4" />
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>

        <div nz-row nzGutter="8">
            <div nz-col nzSpan="24">
                <nz-form-item>
                    <nz-form-label>{{ 'STORAGE.VALUE_QUARTER_4' | translate }}</nz-form-label>
                    <nz-form-control>
                        <input nz-input type="number" step="0.01" formControlName="priceQuarter4" />
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>

    </form>
    <div class="footer">
        <button type="button" (click)="onCloseDrawerData()" class="ant-btn"
            style="margin-right: 8px;"><span>{{ 'BUTTONS.CANCEL' | translate }}</span></button>
        <button type="button" (click)="onSave()" class="ant-btn ant-btn-primary" [disabled]="storageForm.invalid"><span>{{ 'BUTTONS.SAVE' | translate }}</span></button>
    </div>
</nz-drawer>